---
// filepath: c:\Users\bryan\Documents\GitHub\MMI2\r312-tp-svg-Thierry-Bryan\src\layouts\Layout.astro
import "../styles/global.css";
import Menu from "../components/menu.astro";

// Récupération de l'utilisateur comme indiqué dans les consignes
const user = Astro.locals.user;
---

<!doctype html>
<html lang="en" data-theme="light" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="h-full">
    <div class="flex justify-between items-center bg-base-200 p-2">
      <Menu />
    </div>

    <div class="h-full flex flex-col min-h-0">
      <div class="flex-1 min-h-0">
        <slot />
      </div>
    </div>
  </body>
</html>
